DISCORD__BOT_TOKEN=
DISCORD__SERVER_ID=1
DISCORD__SEND_WELCOME_BAR_MESSAGE=true

DISCORD__ANANAGA__TAVERN_CHANNEL_ID=1
DISCORD__ANANAGA__REHUB_CHANNEL_ID=1
DISCORD__ANANAGA__DRUNK_ROLE_ID=1

DISCORD__ENTRANCE__CHANNEL_ID=1
DISCORD__ENTRANCE__MESSAGE_ID=1
DISCORD__ENTRANCE__EMOJI_NAME=emoji
DISCORD__ENTRANCE__ROLE_ID=1

DISCORD__CONTENT__CHANNEL_ID=1
DISCORD__CONTENT__MESSAGE_ID=1

DISCORD__CONTENT__YOUTUBE_ROLE_ID=1
DISCORD__CONTENT__YOUTUBE_EMOJI_NAME=emoji

DISCORD__CONTENT__TWITCH_ROLE_ID=1
DISCORD__CONTENT__TWITCH_EMOJI_NAME=emoji

POSTGRES_DSN=postgresql+asyncpg://qwerty:qwerty@postgres:5432/postgres_db

LOG_LEVEL=INFO
